.app {
  display: grid;
  place-items: center;

  > main {
    background: white;
    width: 38rem;
    border: 1px solid lightgray;

    @media screen and (max-width: 768px) {
      width: 100vw;
    }
  }
}